
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hello, <%= @username %></h1>
    <p>
      The tv show <%= @tv_show_name%> start at <%=@tv_show_timing%>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>